<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestAutomation" parallel="false">
    <test name="AllTests">
        <classes>
            <class name="homepageTestcases.LoginTest"/>
            <class name="homepageTestcases.PlantDashboardTest"/>
            <class name="homepageTestcases.ZoneDashboardTest"/>
            <class name="homepageTestcases.MachineDashboardTest"/>
            <!-- Add more test classes here as needed -->
        </classes>
    </test>
</suite>
