<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SFSFramework">
      <test name="testngSFSFrameworkbuild">
           <classes>
                  <class name="testcases.LoginTest"> </class>
                  <class name="testcases.HomepageTest"> </class>
           </classes>
      </test>
</suite>