<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestAutomation">
      <test name="testngSFSFrameworkbuild">
           <classes>
                  <class name="homepageTestcases.LoginTest"> </class>
                  <class name="testcases.ConfigurationPageTest"> </class> 
           </classes>
      </test>
</suite>